.contactUs {
  display: flex;
  height: 500px;
  background-color: #eaeaea;
  color: #ffffff;
}

/* Left Side: Google Map */
.mapContainer {
  flex: 1;
  height: 100%;
  padding: 50px;
}

.mapContainer iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 20px;
}

/* Right Side */
.detailsContainer {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.detailsContainer h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #3a3939;
}

.locationDetails h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #3d3d3d;
}

.detailItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.detailItem .icon {
  font-size: 1rem;
  color: #3d3d3d;
  margin-right: 10px;
}

.detailItem p {
  font-size: 1rem;
  color: #3d3d3d;
  margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
  .contactUs {
    flex-direction: column;
    height: auto;
  }

  .mapContainer {
    height: 300px;
  }

  .detailsContainer {
    padding: 20px;
  }

  .detailsContainer h1 {
    font-size: 2rem;
  }
  .mapContainer {
    padding: 30px;
  }

  .locationDetails h2 {
    font-size: 1.5rem;
  }

  .detailItem p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .detailsContainer h1 {
    font-size: 1.8rem;
  }
  .mapContainer {
    padding: 20px;
  }

  .locationDetails h2 {
    font-size: 1.3rem;
  }

  .detailItem p {
    font-size: 0.9rem;
  }
}
