.aboutSection {
  width: 100%;
  padding: 4rem 0;
}

.aboutSection h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #ffffff;
  text-align: center;
}

.aboutContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.aboutSection.abouttittle h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.aboutPhoto {
  flex: 1;
}

.aboutPhoto img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.aboutContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aboutContent p {
  font-size: 22px;
  line-height: 1.5;
  color: #d8d5d5;
}

.aboutButton a {
  text-decoration: none;
  color: #ffffff;
}

.aboutButton {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #e9f0f7;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
}

.aboutButton:hover {
  background-color: #0056b3;
}

/* Responsive */
@media (max-width: 768px) {
  .aboutContainer {
    flex-direction: column;
  }

  .aboutPhoto,
  .aboutContent {
    flex: none;
    width: 100%;
  }

  .aboutContent {
    text-align: center;
  }

  .aboutButton {
    align-self: center;
  }
}
