.aboutSection {
  width: 100%;
  padding: 4rem 0;
}

.aboutSection h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #ffffff;
  text-align: center;
}

.description2 {
  color: rgba(255, 255, 255, 0.684);
}

.aboutContainer {
  max-width: 1200px;
  margin: 0 auto; /* Center horizontally */
  margin-left: 0; /* Remove the left margin */
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  justify-content: center; /* Center content horizontally */
}

.aboutSection.abouttittle h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}

.aboutPhoto {
  flex: 1;
}

.aboutPhoto img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.aboutD {
  color: white;
  text-align: center;
  font-size: 20px;
}

.StoriesContent {
  background-color: rgba(255, 255, 255, 0);
  width: 400px;
  height: 400px;
  border-radius: 20px;
  border: 3px solid gold;
}

.StoriesContent h3 {
  margin: 50px 30px;
  font-weight: 100;
  font-size: 15px;
  color: white;
  line-height: 100%;
  font-family: system-ui, outifit;
}

.StoriesContent img {
  height: 150px;
  width: 150px;
  margin-left: 100px;
  margin-top: 30px;
}

.description {
  margin: 20px 30px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  line-height: 100%;
  font-family: "Poppins", sans-serif;
}

.StoriesIMG {
  height: 60px;
  width: 60px;
}

.aboutPhoto2 {
  flex: 1;
}

.aboutPhoto2 img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.aboutContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.aboutContent p {
  font-size: 22px;
  line-height: 1.5;
  color: #d8d5d5;
}

.aboutButton {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: #e9f0f7;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: flex-start;
}

.aboutButton:hover {
  background-color: #0056b3;
}

/* Responsive */
@media (max-width: 768px) {
  .aboutContainer {
    flex-direction: column;
    margin-left: 10px;
    justify-content: center; /* Center content horizontally on small screens */
  }

  .aboutPhoto,
  .aboutContent {
    flex: none;
    width: 100%;
  }

  .aboutContent {
    text-align: center;
  }

  .aboutButton {
    align-self: center;
  }

  .aboutPhoto2 img {
    height: 200px;
    width: 200px;
    margin: 10px 30px;
  }

  .StoriesContent {
    width: 300px;
  }

  .StoriesContent img {
    height: 100px;
    width: 100px;
    margin-left: 100px;
    margin-top: 20px;
  }
}

@media (min-width: 1024px) {
  .aboutContainer {
    max-width: 1200px;
    margin-right: 40px;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    justify-content: center; /* Center content horizontally on larger screens */
  }
}
